fichiers_source_sql_server_integration_services_2014/Chapitre_01/import/contacts.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Societe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Societe" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Prenom" type="xs:string" />
              <xs:element minOccurs="0" name="Nom" type="xs:string" />
              <xs:element minOccurs="0" name="Email" type="xs:string" />
              <xs:element minOccurs="0" name="Adresse">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Adresse1" type="xs:string" />
                    <xs:element minOccurs="0" name="CP" type="xs:unsignedInt" />
                    <xs:element minOccurs="0" name="Ville" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>